:root {
  /**
    Original 1:
    --background-color1: rgb(95, 115, 230);
    --background-color2: green;
    Original 2:
    --background-color1: #7ec8e3;
        **/
  --background-color1: #effbff;
  --background-color2: #000c66;
  --secondary-color: #050a30;
  --secondary-text-light: white;
  --secondary-text-dark: black;
  --button-color: #2196f3;
  --button-text: #000208;
  --button-border: rgba(0, 12, 102, 0.397);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
}

h1 {
  text-align: center;
  margin: 10px auto;
  font-size: 45px;
  color: #050a30;
}

h2 {
  font-size: 25px;
}

a {
  text-decoration: none;
}

footer a,
.navigation a,
.navigation a:visited {
  color: rgb(196, 196, 196);
  padding: 1vh 2vh;
}

footer a:hover,
.navigation a:visited:hover {
  color: var(--secondary-text-light);
  background-color: rgba(9, 0, 136, 0.05);
  border-radius: 3px;
}

.navigation {
  padding: 1.5vh 3vw 1.5vh 3vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color2);
  gap: 2.5vw;
  color: var(--secondary-text-light);
  font-weight: 600;
  position: fixed;
  width: 100%;
  background: rgb(0, 12, 102);
  background: linear-gradient(
    180deg,
    rgba(0, 12, 102, 1) 0%,
    rgba(0, 9, 74, 1) 100%
  );
  z-index: 1000;
}

#page-start,
#settings-start,
#about-start {
  scroll-margin-top: 60px;
}

.malaphor-container {
  background-color: var(--background-color1);
  display: flex;
  flex-direction: column;
  padding: 12vh 3vh 6vh 3vh;
  justify-content: space-between;
  align-items: center;
}

#generated-malaphors {
  padding: 3vh;
  width: 85vw;
  font-size: 20px;
  background-color: var(--background-color2);
  text-align: center;
  min-height: 150px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  color: var(--secondary-text-light);
  padding: 5vh 10vw;
}

.base-idiom {
  font-size: 1.2em;
}

.malaphor {
  font-size: 1.4em;
}

button {
  padding: 5px 15px;
  color: var(--button-text);
  font-weight: 500;
  font-size: 20px;
  border: none;
  background-color: var(--button-color);
  box-shadow: 1px 1px 1px var(--button-border);
  border-radius: 4px;
  font-weight: 600;
}

button:hover {
  box-shadow: 1px 1px 2px rgba(8, 8, 8, 0.8);
  cursor: pointer;
}

#settings-container {
  background-color: var(--background-color1);
  color: var(--secondary-text-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  padding: 0 3vh 0 3vh;
}

#settings-inputs-container {
  background-color: var(--background-color2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  border-radius: 4px;
  padding: 5vh 10vw;
}

#settings-start {
  align-self: center;
}

#align-settings-items {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.settings-text {
  display: flex;
  justify-self: flex-end;
  padding-top: 0.5vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(180, 180, 180);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 21px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--button-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--button-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(8px);
  transform: translateX(18px);
}

#user-input-field {
  display: none;
}

.info-container {
  background-color: var(--background-color1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3vh 3vh 7vh 3vh;
  justify-content: space-between;
  align-items: center;
}

.info-container h2,
button {
  align-self: center;
}

.info-container h2 {
  padding: 10px;
}

.info {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color2);
  padding: 1vh 2vh;
  gap: 20px;
  color: var(--secondary-text-light);
}

.logo {
  height: 30px;
  width: auto;
  filter: brightness(6);
}

.logo:hover {
  filter: brightness(10);
}

#github,
#writeup,
#other-projects {
  display: flex;
  align-items: center;
}

.context_text {
  font-size: 1.1rem;
  color: rgb(219, 219, 219);
}

br {
  margin-top: 15px;
}

@media (min-width: 850px) {
  #settings-inputs-container {
    width: 65vw;
  }
  #generated-malaphors {
    width: 65vw;
  }
}

@media (max-width: 500px) {
  #settings-inputs-container {
    width: 100%;
  }
  #generated-malaphors {
    width: 100%;
  }
  #info {
    width: 95%;
  }
}
