<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Malaphor Generator</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>

<body>
    <!-- <div class ="navigation">
        <a href="#page-start">Home</a>
        <a href="#settings-start">Settings</a>
        <a href="#about-start">About</a>
    </div> -->
    <div class="malaphor-container">
        <h1 id="page-start">Malaphor Generator</h1>
<div id="generated-malaphors">
  <em><p class="context_text">The idioms being merged are:</p></em>
    {% if currentIdiom %}
    <p class="base-idiom">{{ currentIdiom }}</p>
    {% else %}
    <p>Error: currentIdiom script not connected</p>
    {% endif %}
  <br>
  <em><p class="context_text">and...</p></em>
    {% if idiomMatch %}
    <p class="base-idiom">{{ idiomMatch }}</p>
    {% else %}
    <p>Error: idiomMatch script not connected</p>
    {% endif %}

  <br>
  <em><p class="context_text">The malaphor:</p></em>
    {% if malaphor %}
    <b class="malaphor"><p>{{ malaphor }}</p></b>
    {% else %}
    <p>Error: Malaphor script not connected</p>
    {% endif %}
</div>

    <form name="new_malaphor" method="GET">
      <button type="submit">New malaphor</button>
    </form>

    </div>
    <!-- <div id="settings-container">
      <div id="settings-inputs-container">
        <div id = "align-settings-items">
          <h2 id="settings-start">Settings:</h2>

          <div id="profanity-filter" class="settings">
            <form name="profanity_filter" method="POST" action="/q?profanityFilter">
              <input type="checkbox" name="profanityFilter" id="profanityFilter" onChange="this.form.submit()" checked>
              <label for="profanityFilter">Profanity filter</label>
            </form>
          </div>

          <div id="user-input" class="settings">
            <form method="POST" action="/userInput">
              <input type="checkbox" name="userInput" id="userInput" onChange="showInputField()">
              <label for="userInput">Choose the starting proverb</label>
              <div id="user-input-field">
                <input type="text" name="userMalaphor" placeholder="Your starting metaphor here">
                <button>Submit</button>
              </div>
            </form>
          </div>
        </div>  
      </div>
    </div>
    </div> -->

    <div class="info-container">
        <div class="info">
            <h2 id="about-start">What is a 'malaphor'?</h2>
            <p>A malaphor is a blend of common sayings or idioms. For example, "We'll burn that bridge when we come to it" is a cross between "burn your bridges" and "we'll cross that bridge when we come to it".
            </p>
            <h2>How does this site work?</h2>
            <p>This site runs off a Python program that takes Wictionary's list of <a href="https://en.wiktionary.org/wiki/Category:English_idioms" target=_blank>idioms</a> and <a href="https://en.wiktionary.org/wiki/Category:English_proverbs" target=_blank>proverbs</a>, and uses Python and SQLite to merge idioms together.</p>
            <p>There are a series of algorithms the program runs through, with preference given to pairs that are semantically similar or contain similar text (or both!).</p>
        </div>
    </div>

    <footer>
        <div id="github">
            <a href="https://github.com/rachel-meadows/malaphor" target="_blank"><img src="{{url_for('static', filename='img/github.png')}}" class="logo"></a>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>